# yaml-language-server: $schema=https://raw.githubusercontent.com/BlankSpruce/gersemi/master/gersemi/configuration.schema.json

definitions: []
indent: 4
line_length: 80
list_expansion: favour-inlining
unsafe: false
warn_about_unknown_commands: true
