# yaml-language-server: $schema=https://raw.githubusercontent.com/BlankSpruce/gersemi/0.27.3/gersemi/configuration.schema.json

definitions: []
disable_formatting: false
extensions: []
indent: 4
line_length: 80
list_expansion: favour-inlining
sort_order: case-sensitive
unsafe: true
warn_about_unknown_commands: true
