[MASTER]
load-plugins=pylint.extensions.mccabe

[DESIGN]
max-complexity=10

[MESSAGES CONTROL]
disable=
    duplicate-code,

    fixme,

    invalid-name,

    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,

    too-few-public-methods,
    too-many-ancestors,

    unsubscriptable-object # false positives