name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.14']
        executable-name: [gersemi]
        os: [ubuntu-latest]
        include:
          - python-version: '3.13'
            os: windows-latest
            executable-name: gersemi.exe
          - python-version: '3.13'
            os: macos-latest
            executable-name: gersemi
          - python-version: '3.13'
            os: ubuntu-latest
            executable-name: gersemi
            name: 'Quality tests'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install --upgrade setuptools pip wheel tox

      - name: Run tests
        run: tox -e tests && tox -e build-executable -- ${{ matrix.executable-name }}

      - name: Run quality tests
        run: tox -e lint && tox -e format && tox -e mypy
        if: matrix.name == 'Quality tests'
